*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* overflow-x: hidden; */
}
.bg-img {
    background-image: url('/images/one.jpg');
    width: 100%;
    height: 80vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
     
}
.heading{
    width: 60%;
    /* border: 2px solid black; */
    color: whitesmoke; 
      
    
}
.heading p{
     font-size: 3rem;
     padding-top: 70px;
     
}
.heading h1{
     font-size: 5rem;
     font-weight:bolder;
     
}
.line {
    width: 53%; 
    height: 10px;
    background-color: whitesmoke;
    margin-bottom: 40px;
    border: none;

     
}
.heading-services{
    width: 50%;
 /* border: 2px solid black;  */
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    flex-wrap: wrap;
}
.icons{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
text-decoration: none;
margin-top: 10px;
color: whitesmoke;
}
@media screen and (max-width: 552px) {
    .heading h1 {
        font-size: 3rem;
    }
    .heading-services{
         
        gap: 30px;
        
    }
    
}

.help{
    background-color: gainsboro;
    width: 100%;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    /* margin-bottom: 20px; */
}
.help h2{
    font-size: 2em;
}
.help p, h2{
    margin-bottom: 20px;

}
.help-paragraph {
    max-width: 500px;
    margin: auto;
    color: gray;
}
.help-heading{
    color: gray;
}
.book-now{
    width: 120px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px;
}
 .contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 40px;
    /* gap: 10px; */
    /* border: 2px solid black; */
}
.img-two{
flex-basis: 30%;
background-image: url(/images/two.jpg);
width: 30%;
height: 50vh;
background-size: cover;

}
.contact{
/* flex-basis: 50%; */
text-align: center;
font-size: 1.5em;
/* border: 2px solid black; */
margin-left: 20px;
padding: 30px;


}
.contact p{
    color: red;
    font-weight: bold;
}
.contact-paragraph{
flex-basis: 38%;
padding: 90px;
color: gray;
/* border: 2px solid black; */
/* margin-right: 70px; */


} 
.img-three{
flex-basis: 30%;
background-image: url(/images/three.jpg);
width: 10vw;
height: 50vh;
background-size: cover;
 }

 .quality{
    
background-image: url(/images/four.jpg);
 max-width: 100%;
height: 60%;
background-size: cover;
display: flex;
flex-wrap: wrap; 
align-items: center;
justify-content: center;
gap: 20px;
 }
 .quality-img img{
    width: 100%; 
    height: 60vh;
    /* border: 2px solid black; */
 }
  
 .quality-content{
    width: 30%; 
    height: 60vh;
    /* border: 2px solid black; */
 }
.quality-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.quality-content h2{
    font-size:2.5em;
    color: rgb(46, 46, 145);
}
.quality-content p{
    font-size:1em;
    color: grey;
    margin-bottom: 20px;
}
.quality-line {
     width: 83%; 
    height: 6px;
    margin-bottom: 40px;
    border: none; 
    background-color: red;
     
}
.service-container{
width: 100%;
/* border:2px solid red; */
}
.container-child{
width: 60%;
margin: auto;
/* border:2px solid green; */
}
.service-sec{
    display: flex;
     
}
.heading-child h3{
    font-size: 2em;
    padding: 20px 0;
}
 .service-icons{
     margin: 20px 0;
} 
.service-icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6em;
    width: 80px;
    height: 80px;
    background-color: rgb(215, 40, 40);
    color: white;
    border-radius: 50%;

}


.service-container h5{
        font-size: 1.5em;
        margin-bottom: 20px;
}
.service-content p{
        
        padding: 20px 10px 20px 0;

        color: gray;
        
}



.plumbing-container{
    width: 100%;
    background-color: blue;
    color: white;
    padding: 30px 0;
}
.plumbing-child{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
}
.plumbing-heading{
    width: 50%;
    /* border: 2px solid red; */
}
.plumbing-heading h3{
    font-size: 3em;
    letter-spacing: 2px;
}
.plumbing-heading h2{
    font-size: 4em;
    letter-spacing: 2px;
    font-weight: bold;
}
.plumbing-img-main{
    width: 50%;
    /* padding: 20px 20px; */
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    

}
/* .plumbing-img-sub{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;

    
} */
.plumbing-img{
    width: 47%;
    margin: 5px;
  
}
.plumbing-img img{
    width: 100%;
    /* border: 2px solid yellow;    */
    height: 100%;
}